/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url('../src/assets/background/SL-100420-36140-29.jpg');
    background-size: contain;
 }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.msg-success {
    background-color: #3F51B5;
    color: #fff;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}

.dialogBg{
    background-color: rgba(0, 0, 0, 0.623) !important;
}

.dialog{
    border-radius: 30px !important;
    background-color: red;
}


.toolTip {
    background: #4834D5;
}
