table {
    width: 100%;
    margin: 5px;
 }

 .container{
   margin: 5px;
 }

 caption{
   font-size: 17px;
   background-color: white;
   padding: 5px;
 }

 .dogProfile {
    cursor: pointer;
 }

 .dogProfile:hover{
    color: #0000FF;
 }

 .logout{
   float: right;
 }

 .tabela{
   margin: 10px;
 }

 .background{
   width: 100%;
   height: 100%;
   background-image: url('../../../../assets/background/SL-100420-36140-29.jpg');
   background-size: contain;
}