<div class="background">
    <div class="container">
        <mat-card class="mat-elevation-z4">
            <mat-card-title>Cadastrar Veterinário</mat-card-title>
            <form [formGroup]="veterinarioForm" *ngIf="veterinarioForm"
                #formDir="ngForm" (submit)="createVeterinario()">
                <mat-form-field appearance="outline">
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="nome"
                        name="nome" autocomplete="nope">
                        <mat-icon matSuffix class="icon">person</mat-icon>
                    <mat-error *ngIf="nome.errors?.['required']">O campo nome é
                        <strong>obrigatório.</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email"
                        name="email" type="email" autocomplete="nope">
                        <mat-icon matSuffix class="icon">mail</mat-icon>
                    <mat-error *ngIf="email.errors?.['required']">O campo e-mail
                        é <strong>obrigatório</strong> </mat-error>
                    <mat-error
                        *ngIf="veterinarioForm.get('email').hasError('email')">
                        E-mail inválido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password"
                        formControlName="senha" name="senha"
                        autocomplete="nope" (change)="onPasswordChange()">
                        <mat-icon matSuffix class="icon">lock</mat-icon>
                    <mat-error *ngIf="senha.errors?.['required']">O campo senha
                        é <strong>obrigatório.</strong></mat-error>
                </mat-form-field>
                <div *ngIf="requiredValid">
                    <div [ngClass]="{ 'valido': minLengthValid, 'invalido':
                        !minLengthValid }">
                        Deve conter pelo menos 6 caracteres
                    </div>
                    <div [ngClass]="{ 'valido': requiresDigitValid, 'invalido':
                        !requiresDigitValid }">
                        Deve conter pelo menos 1 número
                    </div>
                    <div [ngClass]="{ 'valido': requiresUppercaseValid,
                        'invalido': !requiresUppercaseValid }">
                        Deve conter pelo menos 1 caractere maiúsculo
                    </div>
                    <div [ngClass]="{ 'valido': requiresLowercaseValid,
                        'invalido': !requiresLowercaseValid }">
                        Deve conter pelo menos 1 caractere minúsculo
                    </div>
                    <div [ngClass]="{ 'valido': requiresSpecialCharsValid,
                        'invalido': !requiresSpecialCharsValid }">
                        Deve conter pelo menos 1 caractere especial
                    </div>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmar senha</mat-label>
                    <input matInput type="password"
                        formControlName="confirmarSenha" name="senha"
                        autocomplete="nope" (change)="onPasswordChange()">
                        <mat-icon matSuffix class="icon">lock</mat-icon>
                    <mat-error *ngIf="confirmarSenha.hasError('mismatch')">As
                        senhas não correspondem</mat-error>
                    <mat-error *ngIf="confirmarSenha.errors?.['minlength']">Minimo
                        de 6 campos </mat-error>
                    <mat-error *ngIf="confirmarSenha.hasError('required')">
                        A confirmação da senha é <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf"
                        name="cpf" autocomplete="nope" type="text"
                        maxlength="14" mask="CPF_CNPJ">
                        <mat-icon matSuffix class="icon">assignment_ind</mat-icon>
                    <mat-error *ngIf="cpf.errors?.['required']">O campo cpf é
                        <strong>obrigatório</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Especialização</mat-label>
                    <input matInput formControlName="especializacao"
                        name="especializacao" autocomplete="nope">
                        <mat-icon matSuffix class="icon">badge</mat-icon>
                    <mat-error *ngIf="especializacao.errors?.['required']">O campo especialização é
                        <strong>obrigatório</strong></mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" color="primary">
                    <i class="material-icons">
                        save
                    </i>
                    Salvar
                </button>

                <button mat-raised-button (click)="cancel()" color="warn">
                    <i class="material-icons">
                        cancel
                    </i>
                    Cancelar
                </button>

            </form>



        </mat-card>
        <div class="img" *ngIf="invalido">
            <img src="../../../../assets/img/dogifollowconfused.png" alt="k">
        </div>
        <div class="img" *ngIf="!invalido">
            <img src="../../../../assets/img/dog-cabeca.png" alt="k">
        </div>
    </div>
</div>