table {
    width: 100%;
    flex-direction: column;
 }

 .container{
    display: flex;
    flex-direction: column;
    margin: 20px;
 }

 .logout{
    float: right;
 }

 .edit {
    margin-right: 10px;
  }
  
  .edit>i {
    color: #3F51B5;
  }
  
  .delete {
    margin-right: 10px;
  }
  
  .delete>i {
    color: #e35e6b
  }
  
  .profile>i {
    color: #3F51B5
  }

  .tabela{
    margin: 10px;
  }

  .background{
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/background/SL-100420-36140-29.jpg');
    background-size: contain;
 }