<div class="background">
<div class="container">
    <mat-card class="home mat-elevation-z4">
 <mat-card-title>Cliníca Pet</mat-card-title>
    <mat-card-subtitle>Rua Ernesto de Picoli, 37 - Centro</mat-card-subtitle>
</mat-card>

</div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d744.7228421265633!2d-52.474332356634946!3d-27.390739383414882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e3595b1d32b349%3A0xbdec6a423438f8d9!2sItatiba%20-%20Itatiba%20do%20Sul%2C%20RS%2C%2099760-000!5e0!3m2!1spt-BR!2sbr!4v1666358046459!5m2!1spt-BR!2sbr"
        width="600" height="450" style="border:0;" allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>