<div class="background">
    <div class="container">
        <mat-card class="mat-elevation-z4">
            <mat-card-title>Alterar Cliente</mat-card-title>
            <form [formGroup]="clienteForm" *ngIf="clienteForm"
                #formDir="ngForm" (submit)="updateClient()">
                <mat-form-field appearance="outline">
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="nome"
                        name="nome" autocomplete="nope">
                        <mat-icon matSuffix class="icon">person</mat-icon>
                    <mat-error *ngIf="nome.errors?.['required']">O campo nome é
                        <strong>obrigatório.</strong></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email"
                        name="email" type="email" autocomplete="nope">
                        <mat-icon matSuffix class="icon">mail</mat-icon>
                    <mat-error *ngIf="email.errors?.['required']">O campo e-mail
                        é <strong>obrigatório</strong> </mat-error>
                    <mat-error
                        *ngIf="clienteForm.get('email').hasError('email')">
                        E-mail inválido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf"
                        name="cpf" autocomplete="nope" type="text"
                        maxlength="14" mask="CPF_CNPJ">
                        <mat-icon matSuffix class="icon">assignment_ind</mat-icon>
                    <mat-error *ngIf="cpf.errors?.['required']">O campo cpf é
                        <strong>obrigatório</strong></mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">
                    <i class="material-icons">
                        save
                    </i>
                    Salvar
                </button>

                <button mat-raised-button (click)="cancel()" color="warn">
                    <i class="material-icons">
                        cancel
                    </i>
                    Cancelar
                </button>

            </form>



        </mat-card>
        <div class="img" *ngIf="invalido">
            <img src="../../../../assets/img/dogifollowconfused.png" alt="k">
        </div>
        <div class="img" *ngIf="!invalido">
            <img src="../../../../assets/img/dog-cabeca.png" alt="k">
        </div>
    </div>
</div>