<mat-toolbar class="footer">
    <a href="https://github.com/J0nnY666" target="_blank"><img
            src="../../../../assets/img/github.png" class="icons"></a>
    <a href="https://www.facebook.com/jonny.teles.1"
        target="_blank"><img src="../../../../assets/img/facebook.png"
            class="icons"></a>
    <a href="https://www.linkedin.com/in/jonnyteles/"
        target="_blank"><img src="../../../../assets/img/linkedin.png"
            class="icons"></a>
    <a href="https://wa.me/573224294332" target="_blank"><img
            src="../../../../assets/img/whatsapp.png" class="icons"></a>
            <p class="direitos">
            © 2022 Clínica Pet, todos os direitos reservados...
        </p>
</mat-toolbar>
