<div class="background">
    <div class="container">
        <mat-card class="mat-elevation-z4">
            <mat-card-title>
                Quem somos nós?
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Voluptatum, temporibus.</li>
                    <li>Lorem ipsum dolor sit.</li>
                </ul>
            </mat-card-content>

            <mat-card-title>
                Nossos profissionais
            </mat-card-title>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda
                possimus odit accusamus fuga aliquid alias rerum iste corporis
                totam
                rem, animi harum quae amet quaerat quasi quibusdam at, tempore
                fugiat repudiandae dicta quia. Recusandae animi, explicabo
                assumenda
                molestias minima delectus atque reprehenderit ab, aspernatur
                itaque
                officiis vitae nobis dolorem esse?
            </mat-card-content>
   
            <mat-card-title>
                A cliníca
            </mat-card-title>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda
                possimus odit accusamus fuga aliquid alias rerum iste corporis
                totam
                rem, animi harum quae amet quaerat quasi quibusdam at, tempore
                fugiat repudiandae dicta quia. Recusandae animi, explicabo
                assumenda
                molestias minima delectus atque reprehenderit ab, aspernatur
                itaque
                officiis vitae nobis dolorem esse?
            </mat-card-content>

            <mat-card-title>
                O Dono
            </mat-card-title>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda
                possimus odit accusamus fuga aliquid alias rerum iste corporis
                totam
                rem, animi harum quae amet quaerat quasi quibusdam at, tempore
                fugiat repudiandae dicta quia. Recusandae animi, explicabo
                assumenda
                molestias minima delectus atque reprehenderit ab, aspernatur
                itaque
                officiis vitae nobis dolorem esse?
            </mat-card-content>
        </mat-card>

    </div>
</div>